<div class ="container">
    
    <form [formGroup]="searchForm">
      <label>
        <input type="text" (keyup)="searchTerm.next($event)" formControlName="search" placeholder="Search repos---" />
        
          <button class="search-message">Search Repositories</button>      
        
      </label>
    </form>
    <div *ngIf="searchResults">
      <div class="results">
        <div class="card" *ngFor="let result of results">
            <div class="card-body" appHighlight>
            <h2><a href="{{result.clone_url}} " target="_blank">{{result.full_name | uppercase}}</a></h2>
            <p><strong>{{result.login}}</strong></p>
            <p>{{result.description}}</p>
            <p><strong>Created:</strong> {{result.created_at|date}}</p>
            <p><strong>Language used:</strong> {{result.language}}</p>
        
                
            </div>
          </div>
        </div>
    </div>

     
    
    <div *ngIf="errorMessage" class="errorMessage">
      <h2>Error</h2>
      <p class="error">{{errorMessage}}</p>
    </div>

  </div>