.card {
  margin: 5%;
}

form {
  padding-top: 5%;
}
button{
  margin-top: 5%;
  background-color: blue;
  width: 100%;
  color: white;
}
.results{
  background-image: url(../../assets/bg.jpeg);
  background-repeat: no-repeat;
   background-size: cover;
  
}